STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PRICE_ID_MONTHLY=price_1TC81SCmKulaplWOldPSt5Th
STRIPE_PRICE_ID_YEARLY=price_1TC81SCmKulaplWOymtY8xhd
FIREBASE_KEY_PATH=path/to/serviceAccountKey.json
FRONTEND_URL=http://localhost:5173
